{
  "tabWidth": 4,
  "useTabs": true,
  "singleQuote": false,
  "semi": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid"
}
