<section class="flex items-center justify-center my-3">
  <img
    src="/assets/title-hrodna.jpg"
    alt="Hrodna Title Picture"
    class="w-11/12 max-w-5xl"
  />
</section>

<section>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-y-8 gap-x-16 h-fit lg:items-center"
    >
      <div class="max-w-lg mx-auto text-center lg:text-left lg:py-16">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
          What is Tyzenguide project about?
        </h2>

        <p class="mt-4 text-gray-500 lg:text-lg">
          Antoni Tyzenhauz is one of the most prominent figures in the history
          of our wonderful city. Thanks to his activities the architectural
          character of Hrodna was changed and a number of marvellous historical
          sights appeared. Antoni Tyzenhauz was a reformer, a dreamer, an
          enthusiast, gushing with ideas and actions. He inspired and was
          inspired. In turn, we decided to walk along the memorable roads of
          Tyzenhauz in Hrodna to show his priceless heritage. We hope you'll
          enjoy the guide to the sights of our heartwarming city commemorating
          the personality of Antoni Tyzenhauz and his outstanding deeds.
        </p>

        <a
          class="inline-block px-5 py-3 mt-8 text-sm font-medium text-white bg-blue-500 rounded-lg"
          href="/tyzenhaus"
        >
          Find out about Tyzenhaus
        </a>
      </div>

      <div class="h-64 sm:h-120 lg:h-fit">
        <img
          class="object-cover object-top w-full h-5/6 rounded-xl"
          src="/assets/tyzenhaus-photo.jpg"
          alt="Antoni Tyzenhaus portrait (Source - Tyzenguide)"
        />
      </div>
    </div>
  </div>
</section>
