<section id="titleSection" class="items-center justify-center">
  <!-- <div class="max-w-screen-xl px-4 my-9 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto text-center to-rellax">
            <h1
            class="text-3xl font-bold text-transparent sm:text-6xl
            bg-clip-text bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
            >
            Seven wonders of Tyzenhaus
            </h1>

            <p class="max-w-xl mx-auto mt-6 text-lg text-white">
            And our project is about to show you some of the most exciting ones! Antoni Tyzenhaus has left a great legacy, which is valued hundreds of years after.
            </p>
        </div>
    </div> -->
</section>

<section>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-y-8 gap-x-16 lg:h-screen lg:items-center"
    >
      <div class="max-w-lg mx-auto text-center lg:text-left lg:py-24">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
          What is Tyzenguide project about?
        </h2>

        <p class="mt-4 text-gray-500 lg:text-lg">
          Antoni Tyzenhauz is one of the most prominent figures in the history
          of our wonderful city. Thanks to his activities the architectural
          character of Hrodna was changed and a number of marvellous historical
          sights appeared. Antoni Tyzenhauz was a reformer, a dreamer, an
          enthusiast, gushing with ideas and actions. He inspired and was
          inspired. In turn, we decided to walk along the memorable roads of
          Tyzenhauz in Hrodna to show his priceless heritage. We hope you'll
          enjoy the guide to the sights of our heartwarming city commemorating
          the personality of Antoni Tyzenhauz and his outstanding deeds.
        </p>

        <a
          class="inline-block px-5 py-3 mt-8 text-sm font-medium text-white bg-blue-500 rounded-lg"
          routerLink="."
        >
          Find out about Tyzenhaus
        </a>
      </div>

      <div class="relative h-64 sm:h-120 lg:h-full items-center">
        <img
          class="absolute inset-0 object-cover w-full h-5/6 rounded-xl"
          src="/assets/tyzenhaus-photo.jpg"
          alt="Antoni Tyzenhaus portrait (Source - Wikipedia)"
        />
      </div>
    </div>
  </div>
</section>

<!-- <section class="mt-6">
    <div class="relative text-center">
        <span class="absolute inset-x-0 h-px -translate-y-1/2 bg-black/10 top-1/2"></span>
    
        <h2 class="relative inline-block px-4 text-2xl font-bold text-center bg-white">
            Gallery Introduction
        </h2>
    </div>
    
    <swiper
        [slidesPerView]="1"
        [spaceBetween]="35"
        [loop]="true"
        [pagination]="{ clickable: true }"
        class="select-none mx-4 my-6"
    >
        <ng-template swiperSlide>
            <img src="/assets/Снимок экрана (22).jpg" alt="" class="object-cover" />
        </ng-template>
    
        <ng-template swiperSlide>
            <img src="/assets/Снимок экрана (16).jpg" alt="" class="object-cover" />
        </ng-template>
    
        <ng-template swiperSlide>
            <img src="/assets/Снимок экрана (27).jpg" alt="" class="object-cover" />
        </ng-template>
    
        <ng-template swiperSlide>
            <img src="/assets/Снимок экрана (21).jpg" alt="" class="object-cover" />
        </ng-template>
    
        <ng-template swiperSlide>
            <img src="/assets/DSC05002.jpg" alt="" class="object-cover" />
        </ng-template>
    </swiper>

</section> -->
