<span
	class="w-full inline-flex items-center justify-center h-fit bg-white z-20"
>
	<a class="w-fit h-fit" href="/">
		<img src="/assets/logo.png" alt="Tyzenguide logo" class="w-24 h-24" />
	</a>
</span>

<header
	class="sticky top-0 grid bg-white shadow z-10 md:px-3"
	style="grid-template-columns: repeat(3, 1fr)"
>
	<nav
		class="flex items-center justify-between max-w-5xl px-4 py-3 mx-auto col-start-2"
	>
		<ul
			class="flex items-center space-x-2 text-base md:text-lg font-sans font-medium text-gray-500"
		>
			<li>
				<a class="px-3 py-2 rounded-lg" routerLink="/">Home</a>
			</li>

			<li>
				<a class="px-3 py-2 rounded-lg" routerLink="sights">Sights</a>
			</li>
		</ul>
	</nav>
	<button
		class="col-start-3 w-fit h-fit self-center justify-self-end mx-3.5"
		(click)="changeDropdownState()"
	>
		<img
			src="/assets/icons/search.svg"
			alt="Open search screen"
			class="w-7 h-7 lg:w-auto lg:h-auto"
		/>
	</button>
</header>

<router-outlet></router-outlet>

<footer class="text-center mt-auto">
	<div class="max-w-screen-xl px-4 pb-3 pt-12 mx-auto sm:px-6 lg:px-8">
		<div class="max-w-3xl mx-auto space-y-6">
			<div class="flex justify-center space-x-6">
				<a
					class="text-blue-500 hover:text-opacity-75"
					href="https://www.youtube.com/channel/UCKP3lGkxSqWOWfNPrrEdcxw"
					target="_blank"
					rel="noreferrer"
				>
					<span class="sr-only"> YouTube </span>
					<img
						src="/assets/icons/youtube.svg"
						alt="YouTube logo"
						class="w-8 h-8"
					/>
				</a>

				<a
					class="text-gray-900 hover:text-opacity-75"
					href="https://github.com/scriptSQD/tyzenguide-remastered"
					target="_blank"
					rel="noreferrer"
				>
					<span class="sr-only"> GitHub </span>
					<img
						src="/assets/icons/github.svg"
						alt="GitHub logo"
						class="w-8 h-8"
					/>
				</a>
			</div>

			<nav
				class="flex justify-evenly gap-4 p-6 text-sm font-medium bg-gray-100 rounded-lg max-w-lg mx-auto"
			>
				<a class="hover:opacity-75" href="/contacts">Contacts</a>
				<a class="hover:opacity-75" href="/authors">Authors</a>
			</nav>
			<p class="max-w-lg mx-auto text-xs text-gray-500">
				Tyzenguide is a group of people, passionate about Hrodna
				historical heritage. We hope we can interest you too!
			</p>

			<p class="text-xs font-medium">&copy; 2022 Tyzenguide</p>

			<p class="signature">
				&#60;/&#62; with &#10084; in Hrodna, by scriptSQD
			</p>
		</div>
	</div>
</footer>

<div class="dropdown hide-scrollbar" id="dropdown">
	<ais-instantsearch
		[config]="aisConfig"
		class="h-full grid grid-flow-row grid-rows-[min-content,min-content,auto] gap-2"
	>
		<button (click)="changeDropdownState()" class="w-fit h-fit ml-auto">
			<img
				src="/assets/icons/close-search.svg"
				alt="Close search screen"
			/>
		</button>
		<app-debounced-search-box [delay]="450"></app-debounced-search-box>
		<ais-hits class="searchRes hide-scrollbar">
			<ng-template let-hits="hits">
				<ol class="ais-Hits-list">
					<li *ngFor="let hit of hits" class="ais-Hits-item">
						<a
							[routerLink]="['/sights', hit.routerLink]"
							(click)="changeDropdownState()"
							class="flex flex-col md:flex-row gap-x-3"
						>
							<img
								*ngIf="hit.imgList[0] as img"
								[src]="img"
								[alt]="hit.title + ' photos'"
								class="max-w-full md:max-w-[33%]"
							/>
							<div>
								<ais-highlight
									attribute="title"
									[hit]="hit"
									class="text-lg my-2 font-semibold"
								></ais-highlight>
								<br />
								<ais-highlight
									attribute="shortDesc"
									[hit]="hit"
								></ais-highlight>
							</div>
						</a>
					</li>
				</ol>
			</ng-template>
		</ais-hits>
	</ais-instantsearch>
</div>
