:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dropdown {
  @apply fixed hidden
            flex-col gap-y-4
            w-screen h-screen
            bg-gray-900 bg-opacity-80 z-50
            px-6 py-7
            overflow-y-scroll;
}

swiper {
  @apply max-w-[16rem] sm:max-w-[23.5rem];
}

.little-thingy {
  @apply text-xs font-light text-indigo-900;
  margin-top: 0.375rem !important;
}

.searchRes {
  @apply max-h-[32rem] overflow-y-scroll rounded-[0.25rem];
}
