<a
	[routerLink]="['/sights', link]"
	class="h-full block overflow-hidden rounded-2xl select-none"
>
	<swiper
		[config]="swiperConfig"
		[navigation]="false"
		class="select-none bg-gray-900"
		id="gallery"
	>
		<ng-template swiperSlide *ngFor="let img of thumbList">
			<a>
				<img
					class="w-full h-full object-cover"
					[src]="img"
					[alt]="title + ' photo'"
					loading="lazy"
				/>
			</a>
		</ng-template>
	</swiper>

	<div class="h-full p-4 bg-gray-900">
		<h5 class="text-sm md:text-base text-white">
			{{ title }}
		</h5>

		<p class="mt-1 text-xs md:text-sm text-gray-500">
			{{ desc }}
		</p>
	</div>
</a>
