<div class="relative text-center my-4">
  <span
    class="absolute inset-x-0 h-px -translate-y-1/2 bg-black/10 top-1/2 mx-6"
  ></span>

  <h2
    class="relative inline-block px-4 text-2xl font-bold text-center bg-white"
  >
    Authors
  </h2>
</div>

<section id="authors" class="px-2">
  <div class="prose prose-base prose-h4:my-1 prose-ul:my-1 flex flex-col mx-auto">
    <h2 class="mx-2 text-center">The project is run by the Tyzenguide team:</h2>

    <ul>
      <h4>— Methodical Support</h4>
      <li>Tatsiana Voishal</li>
      <li>Elena Mihaliuk</li>
      <li>Anna Sadovskaya</li>
    </ul>

    <ul>
      <h4>— Filming and Editing</h4>
      <li>Mikhail Burak</li>
    </ul>
    <ul>
      <h4>— Web Development and Voice</h4>
      <li>Boris Matus</li>
    </ul>
    <ul>
      <h4>— Responsible for Research</h4>
      <li>Ilya Yagovdik</li>
      <li>Karina Bugorovskaya</li>
      <li>Darya Shafarevich</li>
      <li>Darya Zakharchuk</li>
      <li>Victoria Nemchinovich</li>
      <li>Stepan Klimuk</li>
    </ul>
  </div>
</section>
