<div class="relative text-center my-4">
  <span
    class="absolute inset-x-0 h-px -translate-y-1/2 bg-black/10 top-1/2 mx-6"
  ></span>

  <h2
    class="relative inline-block px-4 text-2xl font-bold text-center bg-white"
  >
    Authors
  </h2>
</div>

<section id="authors" class="px-2">
  <div class="prose prose-base flex flex-col mx-auto">
    <p class="font-medium">The project is run by the Tyzenguide team:</p>

    <ul>
      <p>— Methodical Support</p>
      <li>Tatsiana Voishal</li>
      <li>Elena Mihaliuk</li>
      <li>Anna Sadovskaya</li>
    </ul>

    <ul>
      <p>— Filming and Editing</p>
      <li>Mikhail Burak</li>
    </ul>
    <ul>
      <p>— Web Development and Voice</p>
      <li>Boris Matus</li>
    </ul>
    <ul>
      <p>— Responsible for Research</p>
      <li>Ilya Yagovdik</li>
      <li>Karina Bugorovskaya</li>
      <li>Darya Shafarevich</li>
      <li>Darya Zakharchuk</li>
      <li>Victoria Nemchinovich</li>
      <li>Stepan Klimuk</li>
    </ul>
  </div>
</section>
