@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap");

@import "swiper/swiper-bundle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h-120 {
    height: 32rem;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none;
  }
}

html,
body {
  min-height: 100vh;
}
